<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h2>Профиль пользователя</h2>
    <p>Здесь вы можете увидеть информацию о своем профиле:</p>
    <ul>
        <li><strong>Имя:</strong> {{ user }}</li>
        <li><strong>Email:</strong> Пока пусто </li>
        <!-- Дополнительная информация о профиле пользователя -->
    </ul>
    <a href="/logout">Выйти</a>
</body>
</html>
